<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PARKINGS APP", root_path, id: "logo", method: :get %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:current_user_id] == nil %>
          <li><%= link_to t(:log_in_with_facebook, scope: ['activerecord.layouts']), "/auth/facebook" %></li>
          <li><%= link_to t(:log_in, scope: ['activerecord.layouts']).capitalize, login_path %></li>
          <li><%= link_to t(:register, scope: ['activerecord.layouts']).capitalize, register_path %></li>
          <li><%= link_to "EN", locale: :en %></li>
          <li><%= link_to  "PL", locale: :pl %></li>
        <% else %>
          <li><%= link_to t(:cars, scope: ['activerecord.layouts']).capitalize, cars_path %></li>
          <li><%= link_to t(:parkings, scope: ['activerecord.layouts']).capitalize, parkings_path %></li>
          <li><%= link_to t(:place_rents, scope: ['activerecord.layouts']).capitalize, place_rents_path %></li>
          <li>
            <%= link_to(root_path) do %>
              <%= current_person.full_name if current_person %>
            <% end %>
          </li>
          <li><%= link_to t(:log_off, scope: ['activerecord.layouts']).capitalize, logout_path %> </li>   <!-- session_path(:account), :method => :delete -->
          <li><%= link_to "EN", locale: :en %></li>
          <li><%= link_to  "PL", locale: :pl %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
